.boost {
  position: relative;
  background: var(--dark-violet);
  color: #fff;
  $imgHeight: 300px;
  .boost-mobile-bg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    max-height: $imgHeight;
  }
  .container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    min-height: $imgHeight;
    z-index: 10;
    h2 {
      font-size: 1.5rem;
    }
  }
  .boost-Desktop-bg {
    display: none;
  }
  @media (min-width: 1027px) {
    .container {
      gap: 0.5rem;
      h2 {
        font-size: 2.5rem;
      }
    }
    .boost-mobile-bg {
      display: none;
    }
    .boost-Desktop-bg {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      height: 100%;
      right: 0px;
      z-index: 1;
    }
  }
}
