.statistics {
  padding: 8rem 0rem;
  background: var(--very-light-gray);
  .container {
    display: grid;
    grid-gap: 7rem;
  }

  .statistics__heading {
    margin: 0px;
    font-size: 2rem;
  }
  .statistics__subtitles {
    margin: 0.6rem;
    font-size: 1.3rem;
  }
  .statistic {
    position: relative;
    padding: 3rem 1rem 1rem 1rem;
    border-radius: 0.4rem;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      $imgHeight: 88px;
      position: absolute;
      top: -$imgHeight/2;
      border-radius: 50%;
      padding: 2rem;
      background: var(--dark-violet);
    }
    h3 {
      font-size: 1.6rem;
    }
    p {
      font-size: 1.3rem;
    }
  }
}
