.hero {
  background-image: url(../images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  // backdrop-filter: contrast(120%); // not work in firfox

  .container {
    background: transparent;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}

.hero__heading {
  text-transform: uppercase;
  border: 2px solid currentColor;
  padding: 1rem;
  text-align: left;
  color: var(--white);
  font-size: 2.7em;
  line-height: 0.95em;
  font-weight: 300;
}
