@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

:root {
  // Primary
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
  font-size: 15px;
}
// reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
div,
ul {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
// end reset

body {
  font-family: "Alata", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}
.container {
  width: 88%;
  max-width: 1440px;
  margin: 0px auto;
}
.sr-only {
  position: absolute;
  top: -5000px;
}

@import "header";
@import "hero";
@import "about";
@import "creations";
@import "footer";
@import "attribution";
@import "btns";
